.bmi-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 60px;
  min-height: 100vh;
  background-color: #f0f4f8;
  gap: 40px;
  font-family: "Trebuchet MS", sans-serif;
}


.bmi-info {
  background-color: #eaf4ff;
  padding: 30px;
  border-radius: 12px;
  width: 40%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.bmi-info h2 {
  color: #0077b6;
  margin-bottom: 15px;
}

.bmi-info h3 {
  color: #023e8a;
  margin-top: 20px;
}

.bmi-info ul {
  text-align: left;
  margin-left: 20px;
}

.bmi-info li {
  margin-bottom: 5px;
  color: #333;
}


.bmi-container {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 35%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  text-align: center;
}

.bmi-container h2 {
  margin-bottom: 20px;
  color: #0077b6;
}

.bmi-container input {
  width: 80%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.bmi-container button {
  width: 85%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  background-color: #0077b6;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.bmi-container button:hover {
  background-color: #005f87;
}

.bmi-result-section {
  margin-top: 20px;
}

.bmi-result {
  font-size: 20px;
  font-weight: bold;
  color: #023e8a;
}

.bmi-advice {
  font-size: 16px;
  margin-top: 10px;
  color: #333;
}
