.features{
    text-align: center;
    padding: 40px;
    background-color: #f5f9ff;

}
.featuresTitle{
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: #0077b6;
    font-family: "Trebuchet MS", sans-serif;
}
.featuresSubtitle {
    font-size: 18px;
    color: #555;
    margin-bottom: 50px;
}
.featuresList{
    display: grid;
    max-width: 1100px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}
.featuresItem{
    background:#ffffff;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 15px;
    transition: transform 0.3s ease;
}
.featureImage {
  width: 100%;
  height: 140px;
  background-size: cover;
  background-position: center;
  
  margin-bottom: 20px;
}
.featuresItem h3 {
  color: #0077b6;
  margin-bottom: 10px;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 20px;
}
.featuresItem p {
  color: #555;
  font-size: 0.95rem;
  font-family: "Trebuchet MS", sans-serif;
  line-height: 1.6;

}