.footer{
    background: #2d9cdb;
    color: white;
    padding: 12px 20px;
    margin-top: 20px;
}
.footer-content{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  max-width: 1100px;
  margin: auto;
}
.footer-brand{
    max-width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.footer-brand h2{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.footer-brand p{
    opacity: 0.8;
    margin-top: 10px;
}

.social-icons {
  display: flex;
  gap: 15px;
  font-size: 24px;
  cursor: pointer;
}

.social-icons svg:hover {
  color: #ffdf6b;
}

.footer-bottom {
  text-align: center;
  margin-top: 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 10px;
  font-size: 14px;
  opacity: 0.8;
}