.home {
    font-family: "Poppins", sans-serif;
    padding-bottom: 40px;
}
.home-hero{
    position: relative;
    width: 100%;
    height: 85vh;
}
.hero-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.home-hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
}
.hero-text-right {
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
    color: white;
    max-width: 450px;
    z-index: 2;
    text-align: right;
}
.hero-text-right h1 {
    font-size: 42px;
    margin-bottom: 15px;
}
.hero-text-right p {
    font-size: 20px;
}

.home-title {
    font-size: 36px;
    font-weight: 700;
    color: #222;
    font-family: "Trebuchet MS", sans-serif;

}

.home-subtitle {
    font-size: 20px;
    margin-top: 10px;
    color: #222;
    font-family: "Trebuchet MS", sans-serif;
}

.mission-section {
    padding: 60px 0;
    text-align: center;
}

.mission-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.mission-section p {
    font-size: 20px;
    max-width: 700px;
    margin: 0 auto;
}


.statistics-section {
    display: flex;
    background-color: #f8f9fa;
    padding: 60px 0;
}

.stat-box {
    padding: 30px;
    background-color: #fff;
    border-radius: 15px;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.stat-box:hover {
    transform: translateY(-5px);
}

.stat-box h3 {
    font-size: 36px;
    margin-bottom: 10px;
}

.stat-box p {
    font-size: 18px;
}

.reviews-section .carousel-item{
    padding: 60px 0;
    justify-content: center;
    align-items: center;     
    min-height: 250px;     
    padding: 40px 0;         
}
.reviews-section .carousel {
    margin-bottom: 60px;
}
.reviews-section .card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.reviews-section .card:hover {
    transform: translateY(-5px);
}




.carousel .card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0,0,0,0.5); 
    border-radius: 50%;             
    width: 40px;
    height: 40px;
}





