* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.register-page {
  display: flex;
  height: 100vh;
}


.register-left {
  width: 50%;
  background-color: #cfe9ff; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.register-left h1 {
  font-size: 36px;
  margin-bottom: 15px;
}

.register-left p {
  font-size: 18px;
  margin-bottom: 20px;
}

.register-left ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.register-left ul li {
  font-size: 16px;
  margin-bottom: 10px;
}



.register-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  width: 360px;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.register-card h2 {
  text-align: center;
  margin-bottom: 20px;
}


.register-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}


.register-btn {
  width: 100%;
  padding: 12px;
  background-color: #cfe9ff;
  border: none;
  border-radius: 6px;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.register-btn:hover {
  background-color:#1e40af;
}


.register-link {
  margin-top: 15px;
  text-align: center;
}

.register-link a {
  color: #4da6ff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
